.card-produto {
  background-color: #ffde21;
  border: 1px solid #ffffff;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 10px;
  width: 200px;
}
.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}
.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
  color: black;
  margin: 5px 0;
}
.card-price {
  font-size: 18px;
  margin-bottom: 12px;
  font-weight: bold;
  color: #000000;
}

.card-button {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 12px;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: top 8px;
  background-color: #000000;
  width: 100%;
}
