.footer-style {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}
.footer-text-main {
  margin: 5px;
  font-size: 0.875rem;
}
.footer-text-copy {
  margin: 5px;
  font-size: 0.75rem;
  color: #ccc;
}