body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    color: #333;
    background-color: #f5f5f5;
}
.page-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
    
}
.card-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
  padding: 20px;

}
.section-title-center {
    color: #333;
  text-align: center;
  font-size: 1.75rem;
  margin-bottom: 20px;
  border-bottom: 2px solid #ffde21;
    padding-bottom: 5px;
    
}
.section-card-container{
    padding: 30px;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #ffffff;
}
p{
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 15px;
    color: #555;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}


