.header-style {
  background-color: #FFDE21;
  color: rgb(0, 0, 0);
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  /*align-items: center;*/
}
.header-logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo-image{
    font-size: 30px;
    font-weight: bold;
}
.nav-menu{
    display: flex;
    gap: 20px;
    align-items: center;
}
.nav-link{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
}
.nav-link:hover{
    text-decoration: underline;
}
