.card-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
    padding: 20px;
    }
 .page-container { 
    padding: 30px;
    max-width: 1300px;
    margin: 0 auto;

}
/* .section-title-centerr {
    padding: 30px;
max-width: 800px;
margin: 40px auto;

} */
